body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  font-family: var(--font);
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#back-button-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  gap: 1vh;
  padding: 0;
  border-radius: var(--border-radius);
  padding: 2vh;
  margin: 1vh
}

#back-button-div:hover {
  transition: .2s;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}

#back-button-div img {
  height: 5vh;
}

#back-button-div p {
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

#image-container {
  width: fit-content;
}

#title {
  font-size: 9vh;
  align-self: center;
}

#button-div {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 2vh;
  font-size: 5vh;
  font-weight: bold;
  box-shadow: .5vh .5vh .5vh rgb(213, 213, 213);
}

.button:hover {
  transform: translateY(calc(.4vh * -1));
  transition: ease-in-out .1s;
  background-color: var(--button-color-hover);
  cursor: pointer;
}

