:root {
  --font: "Titan One", sans-serif;
  --button-color-hover: #5c53c6;
  --button-color: #4E44C4;
  --border-radius: 2vh;
  --card-color: #8a8a8a;
  --card-color-hover: #a2a2a2;
  --background-color: #1d192b;
}